body {
    margin-top: 50px;
}

p.card-text {
    text-align: justify;
}

.absolute-bottom {
    bottom: 10px;
}

.nav-container {
    border-radius: 25px;
}

.glass {
    background: rgba(205, 232, 251, 0.64);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.btn-glass {
    background: rgba(205, 232, 251, 0.64);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.btn-glass:hover {
    background: rgba(205, 232, 251, 0.64);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.btn-glass:active {
    background: rgba(137, 200, 245, 0.64) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-color: rgba(137, 200, 245, 0.64) !important;
}

.card {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(205, 232, 251, 0.4);
}

.nav-link {
    color: black;
}
