body {
    margin-top: 50px;
}

p.card-text {
    text-align: justify;
}

.nav-container {
    /* From https://css.glass */
    background: rgba(205, 232, 251, 0.64);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.card {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(205, 232, 251, 0.4);
}

.nav-link {
    color: black;
}


