{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name|title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  
  <h1>
    {% if category %}{{ category.name|title }}
    {% else %}All{% endif %}
  </h1>

  {% for product in products %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4">
        <img class="card-img-top"
             alt="dessert picture"
             src="{% if product.image %}{{ product.image.url }}
                  {% else %}{% static 'img/no_image.jpg' %}
                  {% endif %}">

        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">"{{ product.name|title }}"</h5>
            <h5 class="card-title">${{ product.price }}</h5>
          </div>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.category|title }}</h6>
          <p class="card-text">{{ product.description }}</p>
          <p class="ca"></p>
          <div class="d-flex justify-content-between">
          <a class="btn btn-link" href="{{ product.get_absolute_url }}">Details</a>
            <form action="{% url 'catalog:cart-add' product.pk %}" method="post">
              {% csrf_token %}
              <input class="btn btn-glass" type="submit" value="+">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="redirect_url" value="{% url 'catalog:product_list' %}">
            </form>
          </div>
          
        </div>

      </div>
    </div>
  {% endfor %}

{% endblock %}
